root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
# File header template
file_header_template = Copyright (c) 2022- Burak Kara, AGPL-3.0 license\nSee LICENSE file in the project root for full license information.

# This will be enforced by the IDE0073 rule
dotnet_diagnostic.IDE0073.severity = warning